body{
    display: grid;
    grid-template-columns: .2fr 1fr;
    height: 100vh;
    background-color: var(--background-c1);
}

main{
    padding-left: 20px;
}
main>h1{
    margin-bottom:  70px;
    color: var(--text-color1); 
}

main .courses{
    display: flex;
    padding: 20px;
    align-items: flex-start;
    padding-top: 50px;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;

}


main .courses .course{
    padding: 10px;
}

main .courses .course {
    background-color: var(--button-color1);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    transition-duration: 0.2s;
    cursor: pointer;
    opacity: .92;
}

main .courses .course:hover {
    transform: scale(1.05) translate(0,-5px);
    box-shadow: 0 0 2px 0 var(--text-color2);
    opacity: 1;
}

main .courses .course img{
    flex-basis: 70%;
}

main .courses .course>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main .courses .course p{
    padding: 10px;
    color : var(--paragarph-color1);
}

.filterButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
.chkfilter{
    visibility: none;
    display: none;
}

.chkfilter:checked +label{
    background-color: var(--background-c1);
    box-shadow: 0 0 10px 0 var(--text-color1);
}

.filterButton label {
    cursor: pointer;
    background-color: var(--button-color1);
    color: var(--text-color2) !important;
    border-radius: 15px;
    width: 70px;
    box-shadow: none;
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding: 10px;
    transition-duration: 0.3s;
}

.filterButton label:hover {
    transform: scale(1.1);
}